.input {
  padding: 6px 12px;
  background-color: white;
  width: 240px;
  height: 48px;
  border: .0625rem solid #b2b2bf;
  text-transform: none;
  color: #111236;
  border-radius: 0 .25rem .25rem 0;
}

.text {
  color: white;
}

.container {
  font-size: 14px;
  text-transform: none;
  position: relative;
}

.flightInfo {
  position: absolute;
  border-radius: .25rem;
  top: 65px;
  right: 0;
  padding: 12px;
  width: 120%;
  background-color: white;
  -webkit-box-shadow: 1px 1px 15px -1px #000000; 
  box-shadow: 1px 1px 15px -1px #000000;
}