.dateContainer {
  padding: 6px 12px;
  background-color: white;
  width: 130px;
  height: 48px;
  border: .0625rem solid #b2b2bf;
  text-transform: none;
  color: #111236;
}

.text {
  color: white;
}

.container {
  font-size: 14px;
  text-transform: none;
}
