.container {
  width: 50%;
  max-width: 171px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: var(--text-color);
  border: 0.0625rem solid #b2b2bf;
  border-radius: 0.25rem;
}

.button {
  width: 50px;
  background-color: transparent;
  font-weight: bold;
}

.value {
  line-height: 48px;
}

.text {
  color: var(--text-color);
}