.container {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(var( --main-bg-code), 0.3);
  color: var( --main-bg);
  position: relative;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.address {
  margin-bottom: 20px;
}

.image {
  border-radius: 4px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  column-gap: 10px;
}

.info {
  position: relative;
}

.option {
  margin-right: 15px;
}

