
.button {
  width: 50%;
  height: 48px;
  max-width: 171px;
  padding: 15px 24px;
  background-color: var(--primary-button-color);
  color: var(--text-color);
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &:disabled {
    cursor: progress;
    opacity: 0.7;
  }
}

.loadingButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}