.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 23%;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -9px 10px 27px 0px rgba(0,0,0,0.35);
    height: 350px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 40px 15px;
    transition: 1s;

    &:hover {
        box-shadow: -9px 10px 27px 0px rgba(0,0,0,0.75);
    }
}

.image {
    width: 30px;
    height: 100px;
    margin-bottom: 20px;
}

.image_no {
    width: 70px;
}

.title {
    font-weight: 200;
    color: rgb(54, 35, 35);
}

.description {
    width: 100%;
    font-size: 13px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}