.list {
  position: absolute;
  top: 50px;
  width: 200%;
  background-color: white;
  padding: 20px;
  left: 200px;
  min-height: 120px;
  z-index: 2;
  font-size: 12px;
  -webkit-box-shadow: 1px 1px 15px -1px #000000; 
  box-shadow: 1px 1px 15px -1px #000000;
}

.container {
  position: absolute;
  width: 100%;
}

.item {
  width: 100%;
  padding: 3px;

  &:hover {
    cursor: pointer;
    background-color: rgba(17, 18, 54, 0.2);
  }

  & > span {
    background-color: rgba(17, 18, 54, 0.3);
  }
}

.text {
  position: absolute;
  top: calc(50% - 10px);
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}