.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url('./bg.jpg') no-repeat;
  background-size: cover;
  padding: 0 30px;
}

.list {
  width: 90%;
  height: 95%;
  overflow-y: scroll;
  background-color: rgba(var(--text-color-code), 0.9);
  padding: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin-top: 25px;
  width: 200px;
}