.dateContainer {
  padding: 6px 12px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 48px;
  border: .0625rem solid #b2b2bf;
  text-transform: none;
  color: #111236;
}

.react-datepicker-wrapper {
  width: 100%;
}

.text {
  color: white;
}

.container {
  font-size: 14px;
  text-transform: none;

}
