.fs-14-bold  {
  font-size: 14px;
  color: var( --main-bg-code);
  font-weight: bold;
}

.fs-14 {
  font-size: 14px;
  color: var( --main-bg-code);
  font-weight: light;
}

.fs-16-bold {
  font-size: 16px;
  font-weight: bold;
}

.fs-18 {
  font-size: 18px;
  font-weight: normal;
}

.fs-30-bold {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.5px;
}