:root {
  --main-bg-code: 17, 18, 54;
  --main-bg: rgb(var( --main-bg-code));
  --primary-button-color-code: 0, 166, 152;
  --primary-button-color: rgb(var( --primary-button-color-code));
  --text-color-code: 255, 255, 255;
  --text-color: rgb(var(--text-color-code));
  --highlited-color-code: 211, 47, 47;
  --highlited-color: rgb(var(--highlited-color-code));
  --border-color-code: 204, 204, 204;
  --border-color: rgb(var(--border-color-code));
  --light-border-color-code: 178, 178, 191;
  --light-border-color: rgb(var(--light-border-color-code));
  --box-shadow-color-code: 0, 0, 0;
  --box-shadow-color: rgb(var(--box-shadow-color-code));
}