:root {
  --main-bg-code: 17, 18, 54;
  --main-bg: rgb(var( --main-bg-code));
  --primary-button-color-code: 0, 166, 152;
  --primary-button-color: rgb(var( --primary-button-color-code));
  --text-color-code: 255, 255, 255;
  --text-color: rgb(var(--text-color-code));
  --highlited-color-code: 211, 47, 47;
  --highlited-color: rgb(var(--highlited-color-code));
}