.container  {
  width: 100%;
}

.mainTitle {
  margin-bottom: 15px;
}

.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.check {
  color: var(--primary-button-color);
  margin-right: 10px;
}

.title {
  margin-bottom: 10px;
}

.smallItem {
  display: flex;

  & > p > b {
    font-weight: normal;
  }
}

.smallList {
  margin-right: 30px;
}

@media screen and (max-width: 1250px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
  }
}